.section-login{
    /* aparence */
    max-width:100rem;
    height: 52rem;
    border-radius: 0.3rem;

    /* element position */
    margin: auto;
    margin-top: 5rem;

    /* items position */
    display: none;
    
    background-color: #fb953d;
    background-image: linear-gradient(228deg, #fb953d 0%, #FBAB7E 50%, #F7CE68 100%);


    border-radius: 4rem 4rem 4rem 4rem;
}


.formulario_img2{
    width: 20rem;
    align-items:flex-end;
    margin-bottom: 1rem;
    position: absolute;
}

/**********/
.form-login {

    background-color: white;
    border-radius: 4rem 4rem 4rem 4rem;

    margin: 1rem 30rem;
  
}


.form-login h2 {
    color: var(--gris1);
    font-size: var(--size-h1);
    font-weight: 600;
    
    margin-top: 1.7rem;  
}

.form-login span {
    font-size: var(--size-h3);
    font-weight: normal;
    color: var(--gris2);
    margin-bottom: 5rem;
    margin-top: 0.5rem;
}

/**********/


/* FORMULARIO */
.form-login {
    /* aparence */
    width: 100%;

    /* items position */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario_img{
    width: 5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.formulario__label {
    font-size: 1.7rem;
    color: var(--gris3);
    
    margin-bottom: 3.4rem;

    display: flex;
    flex-direction: column;
}

.formulario__label input {
    width: 100%;
    height: 4rem;
    border: none;
    border-bottom: 1px solid var(--gris3);
    outline: none;
    font-size: var(--size-parrafo);
}

/*******************************************************/

.form-login button {
    width: 25rem;
    height: 5.4rem;
   
    background-color: #fb953d;
    background-image: linear-gradient(228deg, #fb953d 0%, #FBAB7E 50%, #F7CE68 100%);

    border-radius: 1rem;
    color: #fff;
    font-size: var(--size-parrafo);
    font-weight: 600;
    border-style: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;


    /** SOMBRA DEL BOTON **/
    -webkit-box-shadow: 2px 2px 10px 0px rgba(19,66,10,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(19,66,10,1);
    box-shadow: 2px 2px 10px 0px rgba(19,66,10,1);
}

.form-login button:hover{
    /*background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);*/

    background-color: #fff0b2;
    background-image: linear-gradient(90deg, #fff0b2 0%, #ffb790 100%);

    transition: 0.7s;    
}
.noValido{
    font-size: 1.3rem;
    color: red;
    text-align: center;
}