/** GÉNESIS **/

/********** Diseño del Panel del Despliegue ************/

.despliegue{
    width: 25.4rem;
    height: auto;
    background: rgba(100, 93, 93, 0.4);


    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.despliegue_subtitulo{
    width: 21.8rem;
    height: 3.8rem;
    margin-top: 2rem;
    font-size: 2rem;

    text-align: center;
}
.elementos{
    width: 21.8rem;
    height: 3.8rem;
    background: rgba(255, 255, 255, 0.5);

    border-top: 1px solid black;

    font-size: 1.3rem;
   

    text-align: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.elementos:hover{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    transition: 0.3s;
    cursor: pointer;
    border-radius: 2rem;
}

/*****************************************************/
/************* CUADRO DE CONTENIDO  *****************/

.recuadro{
    width: 70%;
    height: 100vh;
    margin: auto;
    border-radius: 10px;
}